<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>42 Race Assessment</title>
    
    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      body { padding-top:50px; }
      .mybutton {
        border: 0;
        background: none;
      }
    </style>
</head>
<body class="container">

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h2 class="navbar-brand">Connect to Strava</h2>
        <ul class="navbar-nav mr-auto">
            <% if(typeof data !== "undefined"){ %>
                <li class="nav-item">
                  <form action="/api/activities/syncing" method="post">
                    <input type="hidden" name="tokens" value="<%= data.access_token %>">
                    <button class="submit mybutton">Sync</button>
                </form>
                </li>
            <li class="nav-item">
              <form action="/api/logout" method="post">
                <input type="hidden" name="logout_token" value="<%= data.access_token %>">
              <button class="submit mybutton">Disconnect</button>
            </form>
            </li>
                <% } else { 
                    if (typeof client !== "undefined") {

                    
                  %>
                    <li class="nav-item">
            <a class="nav-link" href="https://www.strava.com/oauth/authorize?client_id=<%= client %>&response_type=code&redirect_uri=http://localhost:5000&approval_prompt=force&scope=activity:read_all,read,activity:write,profile:read_all,profile:write">Connect</a>

            <% } else { %>

                    <li class="nav-item">
            <a class="nav-link" href="https://www.strava.com/oauth/authorize?client_id=83604&response_type=code&redirect_uri=http://localhost:5000&approval_prompt=force&scope=activity:read_all,read,activity:write,profile:read_all,profile:write">Connect</a>
                </li>
            <% }
          } %>
        </ul>
      </nav>
</header>

<main>
  <div class="jumbotron">

    <% if(typeof data !== "undefined"){ %>
       <p> Here is the connected Strava <a href="https://www.strava.com/athletes/<%= data.athlete.id %>">Profile</a></p><br><br>
       <p>Hello, <%= data.athlete.firstname + " " + data.athlete.lastname %></p>
      <% } else{ %>  
        <h1>Please Connect to an Account</h1>
     <% } %>

     <% if(typeof activities !== "undefined") {
        if (activities.length > 0) { %>
          <p>Your Activities in Strava are:</p>
          <ol>
          <%  for (let i in activities) { %>

                <li> <%= activities[i].name %> </li>
                <%  } %>
              </ol>
           <%   } else { %>
        <p>There are no activities yet.</p>
      <% } %>
    <% } %>  
  </div>
</main>

</body>
</html>